<h2>Eat Treat Love - The "Ultimutt" List (ETL Project DS+V 2019)</h2>
<p>
<b>Team Members:</b> Courtney Gainor <a href="https://github.com/cgainor" target="_blank">/cganior/</a> James Carter <a href="https://github.com/jmc39" target="_blank">/jmc39/</a> Jorge Pires <a href="https://github.com/jorgepires311" target="_blank">/jorgespires311</a>
</p>
<p>
<b>Project:</b> Focusing on the characteristics of dogs by joining 3 datasets containing unique breed-specific information and then exporting to SQL and NoSQL databases.
</p>
<p>
<b>AKC Characteristics (data set)</b>
<li><u>Breed:</u> Height, Weight - 
<a href="https://data.world/len/dog-size-intelligence-linked">(AKC Breed info.csv)</a>
<li><u>Breed:</u> Classification -
<a href="https://data.world/len/dog-size-intelligence-linked">(dog_intelligence.csv)</a>
<li><u>Breed:</u> All Around Friendliness, Trainability, Amount of Shedding, General Health, Exercise Needs - 
<a href ="https://www.kaggle.com/hocop1/cat-and-dog-breeds-parameters">(rating.json)</a>

In [8]:
import pandas as pd
import numpy as np

### 'Classification' EXTRACT: AKC breed classification data from data.world/len/dog-size-intelligence-linked

In [9]:
# pd.read_csv from dog_intelligence.csv
URL_class_extract = "https://query.data.world/s/aqkbpqmjtudkfdsiemd3k5htns3wlp"
df2class_extract = pd.read_csv(URL_class_extract)

In [10]:
# Columns in extract to clean
df2class_extract.columns

Index(['Breed', 'Classification', 'obey', 'reps_lower', 'reps_upper'], dtype='object')

In [11]:
# Characteristics of the df2class dataframe
df2class_extract.tail(3)
class_shape = df2class_extract.shape
class_rows = len(df2class_extract)
print(f'the number of rows in data set: {class_rows}')
print(f'the shape of the pd.DataFrame: {class_shape}')

,Breed,Classification,obey,reps_lower,reps_upper
133,Bulldog,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
134,Basenji,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

the number of rows in data set: 136
the shape of the pd.DataFrame: (136, 5)

In [12]:
# Clean data: Delete columns not needed in data
del df2class_extract['obey']
del df2class_extract['reps_lower']
del df2class_extract['reps_upper']
df2class = df2class_extract
clean_class_shape = df2class.shape

In [13]:
print(f'the shape of the cleaned extract df2class: {clean_class_shape}')

the shape of the cleaned extract df2class: (136, 2)

In [14]:
df2class_extract.tail(3)

            Breed                                    Classification
133       Bulldog  Lowest Degree of Working/Obedience Intelligence
134       Basenji  Lowest Degree of Working/Obedience Intelligence
135  Afghan Hound  Lowest Degree of Working/Obedience Intelligence

In [15]:
df2 = df2class

### 'Height & Weight' EXTRACT: AKC breed classification data from data.world/len/dog-size-intelligence-linked

In [16]:
### 'Height & Weight' EXTRACT: AKC breed classification data from data.world/len/dog-size-intelligence-linked
URL_ht_wt_extract = "https://query.data.world/s/5al53dnlr5egmzuv4wlgvm33wfacwp"
df1body_extract = pd.read_csv(URL_ht_wt_extract, encoding="iso-8859-1")

In [17]:
# Columns in extract to clean
df1body_extract.columns

Index(['Breed', 'height_low_inches', 'height_high_inches', 'weight_low_lbs',
       'weight_high_lbs'],
      dtype='object')

In [18]:
# Characteristics of the df1body dataframe
df1body_extract.tail(3)
body_shape = df1body_extract.shape
body_rows = len(df1body_extract)
print(f'the number of rows in data set: {body_rows}')
print(f'the shape of the pd.DataFrame: {body_shape}')

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
147,Poodle Toy,10,10,10,10
148,Toy Fox Terrier,10,10,4,7
149,Yorkshire Terrier,8,8,3,7

the number of rows in data set: 150
the shape of the pd.DataFrame: (150, 5)

In [19]:
df1body_extract = df1body_extract.replace("na",np.nan)
df1body_extract = df1body_extract.replace("not found",np.nan)
df1body_extract.head(2)
df1body = df1body_extract.fillna(0)
df1body.head(2)

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150

In [20]:
df1body[["height_low_inches", "height_high_inches","weight_low_lbs","weight_high_lbs"]] = df1body[["height_low_inches", "height_high_inches","weight_low_lbs","weight_high_lbs"]].apply(pd.to_numeric)

In [21]:
df1body.shape

(150, 5)

In [22]:
df1body.columns

Index(['Breed', 'height_low_inches', 'height_high_inches', 'weight_low_lbs',
       'weight_high_lbs'],
      dtype='object')

In [23]:
df1body["avg_height"] = (df1body["height_low_inches"] + df1body["height_high_inches"])/2

In [24]:
df1body.tail(3)

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,avg_height
147,Poodle Toy,10.0,10.0,10,10,10.0
148,Toy Fox Terrier,10.0,10.0,4,7,10.0
149,Yorkshire Terrier,8.0,8.0,3,7,8.0

In [25]:
df1body["avg_weight"] = (df1body["weight_low_lbs"] + df1body["weight_high_lbs"])/2

In [26]:
df1body.tail(3)

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs,avg_height,avg_weight
147,Poodle Toy,10.0,10.0,10,10,10.0,10.0
148,Toy Fox Terrier,10.0,10.0,4,7,10.0,5.5
149,Yorkshire Terrier,8.0,8.0,3,7,8.0,5.0

In [27]:
df1 = df1body[["Breed","avg_height","avg_weight"]]

In [28]:
df1.columns

Index(['Breed', 'avg_height', 'avg_weight'], dtype='object')

In [29]:
df1.head(2)
df1.shape
df1.sort_values(by=["Breed"], ascending=True).tail(3)

                Breed  avg_height  avg_weight
0               Akita        27.0       100.0
1  Anatolian Sheepdog        28.0       125.0

(150, 3)

                           Breed  avg_height  avg_weight
137                      Whippet        20.0        28.5
98   Wirehaired Pointing Griffon        22.0        52.5
149            Yorkshire Terrier         8.0         5.0

In [30]:
df2.head(2)
df2.shape
df2.sort_values(by=["Breed"], ascending=True).tail(3)

           Breed  Classification
0  Border Collie  Brightest Dogs
1         Poodle  Brightest Dogs

(136, 2)

                          Breed                          Classification
96             Wire Fox Terrier  Average Working/Obedience Intelligence
84  Wirehaired Pointing Griffon  Average Working/Obedience Intelligence
33            Yorkshire Terrier              Above Average Working Dogs

### JOIN df1 + df2 (df1[Height & Weight] + df2[Classification]) TRANSFORMATION

In [57]:
df1_df2 = pd.merge(df1, df2, on="Breed")

In [58]:
df1_df2.shape

(105, 4)

In [59]:
df1_df2.columns

Index(['Breed', 'avg_height', 'avg_weight', 'Classification'], dtype='object')

### 'Rating' EXTRACT JSON kaggle.com/hocop1/cat-and-dog-breeds-parameters

In [60]:
# # LOAD JSON
# import json
# import os
# filepath = os.path.join("rating.json")
# with open (filepath) as jsonfile:
#     rating_json = json.load(jsonfile)
# from pprint import pprint
# pprint(rating_json)
# type(rating_json)

In [61]:
df3_rating_extract = pd.read_json('rating.json',orient='columns')

In [62]:
df3_rating_extract.tail(3)

,cat_breeds,dog_breeds
Xoloitzcuintli,NaN,{}
Yorkipoo,NaN,"{' Adaptability': 4, ' All Around Friendliness..."
Yorkshire Terrier,NaN,"{' Adaptability': 3, ' All Around Friendliness..."

### TRANSFORMATION df3_rating Dog Breeds

In [63]:
df3_dog_breeds = pd.read_json((df3_rating_extract["dog_breeds"]).to_json(),orient="index")

In [64]:
df3_dog_breeds.tail(3)

,Adaptability,All Around Friendliness,Exercise Needs,Health Grooming,Trainability,Adapts Well to Apartment Living,Affectionate with Family,Amount Of Shedding,Dog Friendly,Drooling Potential,...,Potential For Playfulness,Potential For Weight Gain,Prey Drive,Sensitivity Level,Size,Tendency To Bark Or Howl,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Wanderlust Potential
Xoloitzcuintli,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yorkipoo,4.0,4.0,4.0,2.0,4.0,5.0,5.0,1.0,3.0,1.0,...,4.0,2.0,3.0,4.0,1.0,5.0,3.0,2.0,3.0,2.0
Yorkshire Terrier,3.0,3.0,5.0,2.0,3.0,5.0,4.0,2.0,3.0,1.0,...,5.0,2.0,2.0,5.0,1.0,3.0,2.0,2.0,2.0,3.0

In [65]:
df3_dog_breeds.shape
df3_dog_breeds.columns

(266, 31)

Index([' Adaptability', ' All Around Friendliness', ' Exercise Needs',
       ' Health Grooming', ' Trainability', 'Adapts Well to Apartment Living',
       'Affectionate with Family', 'Amount Of Shedding', 'Dog Friendly',
       'Drooling Potential', 'Easy To Groom', 'Easy To Train', 'Energy Level',
       'Exercise Needs', 'Friendly Toward Strangers', 'General Health',
       'Good For Novice Owners', 'Incredibly Kid Friendly Dogs',
       'Intelligence', 'Intensity', 'Potential For Mouthiness',
       'Potential For Playfulness', 'Potential For Weight Gain', 'Prey Drive',
       'Sensitivity Level', 'Size', 'Tendency To Bark Or Howl',
       'Tolerates Being Alone', 'Tolerates Cold Weather',
       'Tolerates Hot Weather', 'Wanderlust Potential'],
      dtype='object')

In [66]:
# Breed: All Around Friendliness, Trainability, Amount of Shedding, General Health, Exercise Needs - (rating.json)
df3_transformed = df3_dog_breeds[[' All Around Friendliness', 'Exercise Needs',' Trainability','Amount Of Shedding'\
                                  ,'General Health']]

In [67]:
df3_transformed.columns
df3_transformed.shape
type(df3_transformed)

Index([' All Around Friendliness', 'Exercise Needs', ' Trainability',
       'Amount Of Shedding', 'General Health'],
      dtype='object')

(266, 5)

pandas.core.frame.DataFrame

In [68]:
df3_transformed.reset_index(inplace=True)

In [69]:
df3_transformed.tail(3)

,index,All Around Friendliness,Exercise Needs,Trainability,Amount Of Shedding,General Health
263,Xoloitzcuintli,NaN,NaN,NaN,NaN,NaN
264,Yorkipoo,4.0,3.0,4.0,1.0,3.0
265,Yorkshire Terrier,3.0,4.0,3.0,2.0,4.0

In [45]:
df3 = df3_transformed.rename(columns={"index":"Breed"," All Around Friendliness":"Friendliness",\
                                      ' Exercise Needs':'Exercise',' Trainability':'Trainability','Amount Of Shedding':"Shedding",\
                                      'General Health':'Health'})

In [46]:
df3.tail(3)
type(df3)

                 Breed  Friendliness  Exercise  Trainability  Shedding  Health
263     Xoloitzcuintli           NaN       NaN           NaN       NaN     NaN
264           Yorkipoo           4.0       4.0           4.0       1.0     3.0
265  Yorkshire Terrier           3.0       5.0           3.0       2.0     4.0

pandas.core.frame.DataFrame

### JOIN df1_df2 + df3 TRANSFORMATION

In [47]:
df1_df2_df3 = pd.merge(df1_df2, df3, on="Breed")

In [48]:
df1_df2_df3.tail(3)

,Breed,avg_height,avg_weight,Classification,Friendliness,Exercise,Trainability,Shedding,Health
100,Papillon,9.5,7.5,Brightest Dogs,4.0,4.0,3.0,2.0,3.0
101,Pomeranian,12.0,5.0,Excellent Working Dogs,3.0,3.0,3.0,4.0,3.0
102,Yorkshire Terrier,8.0,5.0,Above Average Working Dogs,3.0,5.0,3.0,2.0,4.0

In [49]:
ultimutt_df = df1_df2_df3

In [50]:
ultimutt_df.dtypes

Breed              object
avg_height        float64
avg_weight        float64
Classification     object
Friendliness      float64
Exercise          float64
Trainability      float64
Shedding          float64
Health            float64
dtype: object

### LOAD to No-SQL MongoDB

In [51]:
# Dependencies
import pymongo

# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
collection=client["ultimutt_db"]["Breeds"]

In [52]:
data = ultimutt_df.to_dict(orient='records')
type(data)

list

In [53]:
# Insert the document into the database
# The database and collection, if they don't already exist, will be created at this point.
collection.insert_many(data)

### LOAD to MySQL database

In [54]:
# Create database connection
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

connection_string = "root:root39jmc@127.0.0.1:3306/ultimutt_db"
engine = create_engine(f'mysql://{connection_string}')

In [55]:
# Confirm tables
from sqlalchemy import inspect
ins = inspect(engine)
for _t in ins.get_table_names():
    print(_t)

ultimutt_breeds

In [56]:
ultimutt_df.to_sql(name='ultimutt_breeds', con=engine, if_exists='append', index=False)