## Eat Treat Love - The "Ultimutt" List (ETL Project DS+V 2019)

**Team Members:** Courtney Gainor [/cgainor/](https://github.com/cgainor) James Carter [/jmc39/](https://github.com/jmc39) Jorge Pires [/jorgepires311/](https://github.com/jorgepires311)

**Project:** Focusing on the characteristics of dogs by joining 3 datasets containing unique breed-specific information and then exporting to a SQL database.

**AKC Characteristics (data set)**
- **_Breed_**: Height, Weight - [(AKC Breed info.csv)](https://data.world/len/dog-size-intelligence-linked)
- **_Breed_**: Classification - [(dog intelligence.csv)](https://data.world/len/dog-size-intelligence-linked)
- **_Breed_**: All Around Friendliness, Trainability, Amount of Shedding, Exercise Needs, General Health - [(rating.json)](https://www.kaggle.com/hocop1/cat-and-dog-breeds-parameters)
------

### Import Dependencies

In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
import json

### Clean Up Size Dataset (E & T)

In [2]:
# Store CSV into dataframe
csv_file = "Resources/AKC Breed Info.csv"
size_df = pd.read_csv(csv_file, encoding='iso-8859-1')

# Clean up rows with weird characters
for index, row in size_df.iterrows():
    if 'ÛÒ' in row['Breed']:
        breed = row['Breed'].replace('\x89ÛÒ ',"(")
        breed = breed+")"
        size_df.loc[index,'Breed'] = breed

# Convert entries to type 'int' (if non-numeric, replace with NaN)
size_df['height_low_inches'] = pd.to_numeric(size_df['height_low_inches'], errors='coerce')
size_df['height_high_inches'] = pd.to_numeric(size_df['height_high_inches'], errors='coerce')
size_df['weight_low_lbs'] = pd.to_numeric(size_df['weight_low_lbs'], errors='coerce')
size_df['weight_high_lbs'] = pd.to_numeric(size_df['weight_high_lbs'], errors='coerce')

# Calculate averages and add values as new columns
size_df['Average Height'] = (size_df['height_low_inches'] + size_df['height_high_inches']) / (2)
size_df['Average Weight'] = (size_df['weight_low_lbs'] + size_df['weight_high_lbs']) / (2)

# Create new dataframe with desired columns
summary_size_df = size_df[['Breed', 'Average Height', 'Average Weight']].copy()

# View dataframe
summary_size_df.head()

                  Breed  Average Height  Average Weight
0                 Akita            27.0           100.0
1    Anatolian Sheepdog            28.0           125.0
2  Bernese Mountain Dog            25.0            97.5
3            Bloodhound            25.0           100.0
4                Borzoi            27.0            85.0

### Clean Up Class Dataset (E & T)

In [3]:
# pd.read_csv from dog_intelligence.csv
URL_class_extract = "https://query.data.world/s/aqkbpqmjtudkfdsiemd3k5htns3wlp"
df2class_extract = pd.read_csv(URL_class_extract)

# Clean data: Delete columns not needed in data
del df2class_extract['obey']
del df2class_extract['reps_lower']
del df2class_extract['reps_upper']
df2class = df2class_extract

# Clean up rows with weird characters
for index, row in df2class.iterrows():
    if 'd̩' in row['Breed']:
        breed = row['Breed'].replace('d̩',"d")
        df2class.loc[index,'Breed'] = breed
        
# View dataframe
df2class.head()

               Breed  Classification
0      Border Collie  Brightest Dogs
1             Poodle  Brightest Dogs
2    German Shepherd  Brightest Dogs
3   Golden Retriever  Brightest Dogs
4  Doberman Pinscher  Brightest Dogs

### Clean Up Rating Dataset (E & T)

In [4]:
# Read JSON file
jsonFile = "Resources/rating.json"

# Load json in variable
data = json.loads(open(jsonFile,"r").read()) 
data['dog_breeds']

# Convert dog ratings to dataframe
dfDogRatings = pd.DataFrame.from_dict(data['dog_breeds'], orient='index')

# Reset index
dfDogRatings.reset_index(inplace=True)

# Duplicate dataframe with only necessary ciolumns
dfDogRatingsClean = dfDogRatings[['index',' All Around Friendliness',' Trainability','Amount Of Shedding', 'Exercise Needs', 'General Health']].copy()

# Clean up column names
dfDogRatingsClean=dfDogRatingsClean.rename(columns={'index':'Breed',' All Around Friendliness':'All Around Friendliness',' Trainability':'Trainability',})

# View dataframe
dfDogRatingsClean.head()

,Breed,All Around Friendliness,Trainability,Amount Of Shedding,Exercise Needs,General Health
0,Affenpinscher,3,3,1,3,4
1,Afghan Hound,4,3,4,4,3
2,Airedale Terrier,4,5,2,5,3
3,Akita,2,4,5,4,4
4,Alaskan Klee Kai,3,4,4,4,4

### Connect to Server

In [5]:
# Connect to server
engine = sqlalchemy.create_engine('mysql+pymysql://root:Courtdata8*@127.0.0.1:3306')
# engine = sqlalchemy.create_engine('mysql+pymysql://root:root39jmc@127.0.0.1:3306')
# engine = sqlalchemy.create_engine('mysql+pymysql://root:olivia@127.0.0.1:3306') 

# Drop db
engine.execute("DROP DATABASE ultimutt")
# Create db
engine.execute("CREATE DATABASE ultimutt")
# Select new db
engine.execute("USE ultimutt")

### Create Tables in Database

In [6]:
# Create 'size' table
engine.execute('CREATE TABLE ultimutt_size (id INT PRIMARY KEY AUTO_INCREMENT,Breed TEXT,`Average Height` INT,`Average Weight` INT);')
# Create 'classification' table
engine.execute('CREATE TABLE ultimutt_class (id INT PRIMARY KEY AUTO_INCREMENT,Breed varchar(255),Classification varchar(255));')
# Create 'ratings' table
engine.execute('CREATE TABLE ultimutt_ratings (id INT PRIMARY KEY AUTO_INCREMENT,Breed varchar(255),`All Around Friendliness` INT,`Trainability` INT,`Amount Of Shedding` INT,`Exercise Needs` INT,`General Health` varchar(255));')

### Load Dataframes Into Database Tables (L)

In [8]:
# Use pandas to load dataframes into database tables
summary_size_df.to_sql(name='ultimutt_size', con=engine, if_exists='append', index=False)
df2class.to_sql(name='ultimutt_class', con=engine, if_exists='append', index=False)
dfDogRatingsClean.to_sql('ultimutt_ratings', con=engine, if_exists='append', index = False)

### Confirm Data Has Been Added By Querying The Tables

In [9]:
# pd.read_sql_query('select * from ultimutt_size', con=engine).head()
# pd.read_sql_query('select * from ultimutt_class', con=engine).head()
# pd.read_sql_query('select * from ultimutt_ratings', con=engine).head()